~ {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #2C3A49;
}

header {
    margin:auto;
    
}

img {
    width:60%;
    margin:auto;
    display: block;
    margin-top:2%;
    max-width:800px;
}

#M {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-40px;
    height:80px;
    width:80px;
    background-color:#F4B350  ;
    border-radius:50%;
}

#m {
    position:absolute;
    top:50%;
    left:50%;
    background-color:#1BA39C;
    width:20px;
    height:20px;
    border-radius: 50%;
    margin-top:-10px;
    margin-left:-410px;
}

#controlpanel {
    position:absolute;
    width:250px;
    float:right;
    top:50%;
    left:100%;
    margin-left:-250px;
    margin-top:-150px;
}

#controlname {
    font-family: 'Open Sans' ,sans-serif;
    color: #ECF0F1;
    font-size:20px;
    font-weight:300;
    text-decoration: none;
    margin-bottom: 5px;
}
input {
    height:35px;
    width:200px;
    border-radius: 15px;
    background:transparent;
    border: solid #ECF0F1 2px;
    font-family: 'Open Sans' sans-serif;
    font-size: 20px;
    color:#ECF0F1;
    margin-bottom: 25px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}


input:focus {
    height:35px;
    width:200px;
    border-radius: 15px;
    background-color:#3F4B57 ; 
    font-family: 'Open Sans' sans-serif;
    font-size: 20px;
    outline: none;
}
