~ {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #2C3A49;
}

header {
    margin:auto;
    
}

img {
    width:60%;
    margin:auto;
    display: block;
    margin-top:2%;
    max-width:800px;
}

#M {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-40px;
    height:80px;
    width:80px;
    background-color:#F4B350  ;
    border-radius:50%;
}

#m {
    position:absolute;
    top:50%;
    left:50%;
    background-color:#1BA39C;
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-top:-20px;
    margin-left:-420px;
}
