~ {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.center-anchor {
    -webkit-transform: translate(-50% , -50%);
}

@font-face {
    font-family:Moon;
    src: url('assets/Moon Light.otf');
}

html {
    height: 100%;
    width:100%;
}

body {
    background-color: #10212C;
}

#content {
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

#backgroundimage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(assets/img/grid.png);
    background-position: center;
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -10;
}

#centerpoint {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:0px;
    width:50px;
    height: 50px;
    z-index:-9;
    opacity:0.6;
}

#vertical-line {
    position: absolute;
    top:50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color:#ECF0F1;
    opacity: 0.5;
    z-index: -10;
}
#horizontal-line {
    position: absolute;
    top:50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color:#ECF0F1;
    opacity: 0.5;
    z-index: -10;
}

.line-x {
    position: absolute;
    width:2px;
    height:20px;
    background-color:#ECF0F1;
    opacity: 0.6;
    z-index: -9;
    top:50%;
    left:50%;
}
.line-y {
    position: absolute;
    width:20px;
    height:2px;
    background-color:#ECF0F1;
    opacity: 0.6;
    z-index: -9;
    top:50%;
    left:50%;
}

#line_x-2 {
    margin-left: -400px;
}
#line_x-1 {
    margin-left: -200px;
}
#line_x1 {
    margin-left: 200px;
}
#line_x2 {
    margin-left: 400px;
}
#line_y-2 {
    margin-top: -400px;
}
#line_y-1 {
    margin-top: -200px;
}
#line_y1 {
    margin-top: 200px;
}
#line_y2 {
    margin-top: 400px;
}

.scale-value-x {
    position: absolute;
    top:50%;
    left:50%;
    font-family: 'Moon';
    font-size: 16px;
    opacity: 0.8;
    z-index: -9;
    color: #ECF0F1;
    width: 100px;
    height: 30px;
    text-align: center;
}
.scale-value-y {
    position: absolute;
    top:50%;
    left:50%;
    font-family: 'Moon';
    font-size: 16px;
    opacity: 0.8;
    z-index: -9;
    color: #ECF0F1;
    width: 100px;
    height: 30px;
    text-align:left;
}
#scalevalue_x-2 {
    margin-left: -400px;
    margin-top:25px;
}
#scalevalue_x-1 {
    margin-left: -200px;
    margin-top:25px;
}
#scalevalue_x1 {
    margin-left: 200px;
    margin-top:25px;
}
#scalevalue_x2 {
    margin-left: 400px;
    margin-top:25px;
}
#scalevalue_y-2 {
    margin-top: 406px;
    margin-left: 70px;
}
#scalevalue_y-1 {
    margin-top: 206px;
    margin-left: 70px;
}
#scalevalue_y1 {
    margin-top: -194px;
    margin-left: 70px;
}
#scalevalue_y2 {
    margin-top: -394px;
    margin-left: 70px;
}
header {
    width:60%;
    margin:auto;
}

#titleimg {
    width:100%;
    margin:auto;
    display: block;
    opacity: 1;
    margin-top:2%;
    max-width:600px;
    z-index: 100;
    opacity: 1;
    animation: fadeImg 4s 5s forwards;
    -webkit-animation: fadeImg 4s 5s forwards;
}
@keyframes fadeImg {
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeImg {
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeImg {
    to {
        opacity: 0;
    }
}

#speedview{
    width:100%;
    height:60px;
    border: solid 2px #ECF0F1;
    border-radius: 2px;
    text-align: center;
    font-family: 'Moon';
    color: #ECF0F1;
    font-size:36px;
    background: rgba(99,109,121,0);
    line-height: 60px;
}

#M {
    position:absolute;
    top:50%;
    left:50%;
    height:80px;
    width:80px;
    /*background-color:#F4B350  ;*/
    background-color:#EFBC30;
    border-radius:50%;
    z-index: 0;
}

#m {
    position:absolute;
    top:50%;
    left:50%;
    background-color:#1BA39C;
    width:20px;
    height:20px;
    border-radius: 50%;
    margin-left:-400px;
    z-index: -1;
}

#Dot {
    position:absolute;
    top:50%;
    left:50%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    z-index: -2;
}

#dashboard {
    width: 200px;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    overflow: auto;
    z-index: 20;
}

#meters {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

#metername {
    font-family: 'Moon';
    color: #ECF0F1;
    font-size:24px;
    font-weight:200;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.value {
    font-family: 'Moon';
    color: #ECF0F1;
    font-size:35px;
    font-weight:200;
    text-decoration: none;
    border: solid 1px #ECF0F1;
    border-radius: 1px;
    height: 50px;
    line-height: 1.5;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}


#controlpanel {
    width:300px;
    position:fixed;
    top:0%;
    right:0;
    height: 100%;
    background-color:#22313F;
    transform: translateX(300px);
    -webkit-transform:translateX(300px);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    overflow: auto;
    z-index: 10;
}

#controls {
    width:90%;
    margin:auto;
    margin-top:25px;
}

#controlname {
    font-family: 'Moon';
    color: #ECF0F1;
    font-size:18px;
    font-weight:200;
    text-decoration: none;
    margin-bottom: 3px;
}

input {
    border: none;
    background: transparent;
    border-bottom: solid 2px #ECF0F1;
    width:100%;
    height: 30px;
    margin-bottom: 20px;
    font-family: 'Moon';
    font-size:18px;
    font-weight: 200;
    color:#ECF0F1;
    transition: all 0.2s;
}

input:hover {
    border-bottom: solid 2px #336E7B;
    color:#336E7B;
}

input:focus {
    border-bottom: solid 2px #336E7B;
    outline:none;
}

button {
    width:100%;
    height:40px;
    outline: none;
    border: solid #ECF0F1 2px;
    background:transparent;
    font-family: 'Moon';
    font-size:18px;
    font-weight: 200;
    color: #ECF0F1;
    border-radius:1px;
    transition: all 0.2s;
    margin-bottom: 15px;
}

button:hover {
    background-color:#336E7B;
    border: solid #336E7B 2px;
    cursor: pointer;
}

button:active {
    background-color:#336E7B;
    border: solid #336E7B 2px;
    cursor: pointer;
}

#earth_sun {
    width:100%;
    height:40px;
    outline: none;
    border: solid #ECF0F1 2px;
    background:transparent;
    font-family: 'Moon';
    font-size:18px;
    font-weight: 200;
    color: #ECF0F1;
    border-radius:1px;
    transition: all 0.2s;
    margin-bottom: 15px;
    margin-top: 10px;
}
#earth_sun:hover {
    background-color:#1E8BC3;
    border: solid #1E8BC3 2px;
    cursor: pointer;
}

#test:checked {
    background: white;
}


/*label#dashboardtoggler {
    z-index:5;
    display: block;
    position: absolute;
    font-family: 'Moon';
    font-size:2em;
    width:200px;
    top:100%;
    left:0%;
    margin-left: 100px;
    margin-top: -70px;
    color: #ECF0F1;
    cursor: pointer;
    display: block;
    line-height: 100%;
    opacity: 0.4;
    transition: opacity 0.2s;
}*/

/*label#dashboardtoggler:hover {
    opacity: 1;
}*/



label#controlstoggler {
    z-index:5;
    display: block;
    position: absolute;
    font-family: 'Moon';
    font-size:2em;
    width:200px;
    top:100%;
    left:100%;
    margin-left: -270px;
    margin-top: -70px;
    color: #ECF0F1;
    cursor: pointer;
    display: block;
    line-height: 100%;
    opacity: 0.4;
    transition: opacity 0.2s;
}

label#controlstoggler:hover {
    opacity: 1;
}
#arrow {
    font-family: 'Moon';
    font-weight: 300;
    position: absolute;
    font-size: 2.5em;
    top:100%;
    left:0%;
    margin-top:-55px;
    margin-left:-35px;
    color:#ECF0F1;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    line-height: 100%;

}
#arrow1 {
    font-family: 'Moon';
    font-weight: 300;
    position: absolute;
    font-size: 2.5em;
    top:100%;
    left:100%;
    margin-top:-55px;
    margin-left:-20px;
    color:#ECF0F1;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    line-height: 100%;

}
input[type="checkbox"]#toggledashboard {
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}

input[type="checkbox"]#togglebox {
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}

input[type="checkbox"]#togglebox:checked ~ div#content {
    margin-right: 40px;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
}
/*
input[type="checkbox"]#toggledashboard:checked ~ div#content {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
}*/

input[type="checkbox"]#togglebox:checked ~ div#controlpanel {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
/*
input[type="checkbox"]#toggledashboard:checked ~ div#dashboard {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}*/


input[type="radio"]#terms {
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}

input[type="radio"]#moving {
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}

label#termslabel {
  display: block;
  height:35px;
  outline: none;
  border: solid #ECF0F1 2px;
  background:transparent;
  font-family: 'Moon';
  font-size:18px;
  font-weight: 200;
  color: #ECF0F1;
  border-radius:1px;
  text-align: center;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

label#termslabel:hover {
  background-color:#6C7A89;
  border: solid #6C7A89 2px;
  cursor: pointer;
}

label#movinglabel {
  display: block;
  height:35px;
  outline: none;
  border: solid #ECF0F1 2px;
  background:transparent;
  font-family: 'Moon';
  font-size:18px;
  font-weight: 200;
  color: #ECF0F1;
  border-radius:1px;
  text-align: center;
  line-height: 2;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

label#movinglabel:hover {
  background-color:#6C7A89;
  border: solid #6C7A89 2px;
  cursor: pointer;
}

input[type=radio]#terms:checked ~ label#termslabel {
  background-color:#6C7A89;
  border: solid #ECF0F1 2px;
}

input[type=radio]#moving:checked ~ label#movinglabel {
  background-color:#6C7A89;
  border: solid #ECF0F1 2px;
}
